{% extends 'users/detail.html' %}

{% block user_details %}
  <div class="col-sm-9">
    <div class="row">

        <form class="navbar-form navbar-right" action="/users/{{g.user.id}}/find-to-block" method="POST">
            <input
                name="q_search"
                class="form-control"
                placeholder="Search Warbler"
                aria-label="Search"
                id="qsearch">
            <button class="btn btn-default">
              <span class="fa fa-search"></span>
            </button>
          </form>

      {% for blocked_user in users %}

        <div class="col-lg-4 col-md-6 col-12">
          <div class="card user-card">
            <div class="card-inner">
              <div class="image-wrapper">
                <img src="{{ blocked_user.header_image_url }}" alt="" class="card-hero">
              </div>
              <div class="card-contents">
                <a href="/users/{{ blocked_user.id }}" class="card-link">
                  <img
                      src="{{ blocked_user.image_url }}"
                      alt="Image for {{ blocked_user.username }}"
                      class="card-image">
                  <p>@{{ blocked_user.username }}</p>
                </a>
                  <form method="POST"
                        action="/users/{{ blocked_user.id }}/unblock">
                    <button class="btn btn-primary btn-sm">Unblock</button>
                  </form>

              </div>
              <p class="card-bio">{{ blocked_user.bio }}</p>
            </div>
          </div>
        </div>

      {% endfor %}

    </div>
  </div>
  {% endblock %}